# Node
node_modules/
dist/
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# OS
.DS_Store
Thumbs.db

# OpenSpec
.agent/
**/archive/

# Databases
mysql_data/
redis_data/
etcd_data/
minio_data/
milvus_data/
